<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='signup()' novalidate>
    <input type='text' name="username" ng-model='user.username' required>
    <input type="password" ng-model='user.password' required>
     <span style="color:red" ng-show="signupForm.username.$error.text">
            Please enter a password</span>
    <button type="submit" ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <a href="#/signin">Already have an account? <strong>Signin</strong> ...</a>
</div>
